<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Book</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/sweetalert2.css">
    <link href="/css/fab.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
</head>
<style>
    body {
        background-color: #f9f7f6;
    }
</style>

<body>
    <% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0){ %>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <% } %>
    <nav class="navbar navbar-dark bg-primary">
        <span class="navbar-brand mb-0 h1">Phone Book Web App</span>
    </nav>