<%- include("partials/header")  %>
<nav class="navbar-light" aria-label="breadcrumb" style="background-color: #e3f2fd;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Contact</li>
    </ol>
</nav>


<div class="container">

    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <div class="card">
                <div class="card-header h3">
                    Add new contact
                </div>
                <div class="card-body">
                    <form action="/addContact" method="POST" name="contact_form" onSubmit="return validate_form ( );">
                        <div class="form-group">
                            <label for="contactName">Name</label>
                            <input type="text" class="form-control" id="contactName" placeholder="Name"
                                name="contactName">
                        </div>
                        <div id="nameerr">

                        </div>
                        <div class="form-group">
                            <label for="contactDOB">DOB</label>
                            <input type="date" class="form-control" id="contactDOB" placeholder="DOB" name="contactDOB">
                        </div>
                        <label for="contactPhone">Mobile Number</label>
                        <div class="form-group input-group">

                            <input type="text" class="form-control" id="contactPhone" placeholder="Phone"
                                name="contactPhone[]">
                            <div class="input-group-append">
                                <span class="input-group-text" onclick="addPhone();">
                                    <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                                        <path fill-rule="evenodd"
                                            d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                                    </svg>
                                </span>

                            </div>
                        </div>
                        <div id="alternatePhone"></div>
                        <label for="contactEmail">Email</label>
                        <div class="form-group input-group">
                            <input type="email" class="form-control" id="contactEmail" placeholder="Email"
                                name="contactEmail">
                            <div class="input-group-append">
                                <span class="input-group-text" onclick="addEmail();">
                                    <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                                        <path fill-rule="evenodd"
                                            d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                                    </svg>
                                </span>

                            </div>
                        </div>
                        <div id="alternateEmail"></div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Create New Contact</button>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <script>
        var nameele = document.getElementById('nameerr')
        function validate_form() {
            valid = true;

            if (document.contact_form.contactName.value == "") {
                nameele.innerHTML = `<div class="alert alert-danger"> Name is Required</div>`
                valid = false;
            }

            return valid;
        }

        function addPhone() {
            document.getElementById('alternatePhone').innerHTML += `
            <input type="text" class="form-control" placeholder="Phone"
                                name="contactPhone[]" value="${document.getElementById('contactPhone').value}">
            `

            document.getElementById('contactPhone').value = '';
        }
        function addEmail() {
            document.getElementById('alternateEmail').innerHTML += `
            <input type="text" class="form-control" placeholder="Email"
                                name="contactEmail[]" value="${document.getElementById('contactEmail').value}">
            `

            document.getElementById('contactEmail').value = '';
        }
    </script>

    <%- include("partials/footer")  %>